#
# Author:       Riccardo Valzorio - fc-devel@cilea.it
#
# License:      Creative Commons Attribution-ShareAlike 3.0 Unported    
#
# This work is licensed under the Creative Commons Attribution-ShareAlike 3.0 Unported License.
# To view a copy of this license, visit http://creativecommons.org/licenses/by-sa/3.0/ or send 
# a letter to Creative Commons, 171 Second Street, Suite 300, San Francisco, California, 94105, USA.
#
# Version 0.4a - 15/12/2010

[Fedora]
# Fedora-Commons repo protocol
Protocol = 'https'
# Fedora-Commons URL [e. myfedora.mydomain.com:8443 -or- localhost]
Host 	 = 'fedora-url:8443'
# Fedora-Commons Authentication Realm ;
# You can run this script and get it by the error swown
# [e. !!Fedora Repository Server]
Realm	 = 'fedora'
# Fedora-Commons Context
Context  = 'fedora'
# Fedora-Commons username - [e. fedoraAdmin]
Username = 'fedora-user'
# Fedora-Commons password - [e. fedoraAdmin]
Password = 'fedora-pass'

[Items]
# Use random items ? [0/1]
Random = '0'

# % of items to be checked (...if random is enabled!)
Number = "10"

# Items per page to get via API-A (min:1 - max:200) 
Page = "10"


[Others]
# notification address [e. fedora-admin@mydomain.com]
Email = 'your-email@domain.xxx'
# MTA agent
# You can get the MTA' path running "which mail" command 
# [e. /usr/bin/mail]
MTA = '/usr/bin/mail'
